#studentpart {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image:url("../img/hero-bg.jpg") ;
    background-size: 100% 100%;
}
#out {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 50%;
    left: 50%;
}
#student {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 50%;
    left: 30%;
}
#avator{
    position: absolute;
    top: 0%;
    left: 40%;
}
#welcome{
    position: absolute;
    width: 40%;
    height: 20%;
    top: 30%;
    left: 25%;
}