#role {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image:url("../img/hero-bg.jpg") ;
    background-size: 100% 100%;
}
#student {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 50%;
    left: 30%;
    /*background-color: paleturquoise;*/
}
#teacher {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 50%;
    left: 50%;
    /*background-color: orange;*/
}
#character{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
}