#video {
    position: absolute;
    width: 70%;
    height: 95%;
    top: 0%;
    left: 0%;
    background-color: orangered;
}
#chat {
    position: absolute;
    width: 30%;
    height: 5%;
    top: 0%;
    left: 70%;
    background-color: paleturquoise;
}
#div1 {
    position: absolute;
    width: 30%;
    height: 95%;
    top: 5%;
    left: 70%;
    background-color: paleturquoise;
}
#div2 {
    position: absolute;
    width: 30%;
    height: 95%;
    top: 5%;
    left: 70%;
    background-color: paleturquoise;
}
#tools {
    position: absolute;
    width: 70%;
    height: 5%;
    top: 95%;
    left: 0%;
    background-color: orange;
}
#input {
    position: absolute;
    width: 30%;
    height: 5%;
    top: 95%;
    left: 70%;
    background-color: palegreen;
}
#open_btn {
	background: #009900;
}

#background {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#poptop {
	background:#eeeeee;
	width: 70%;
	z-index: 1;
	margin: 12% auto;
	overflow: auto;
}

span {
	color: white;
	padding-top: 12px;
	cursor: pointer;
	padding-right: 15px;
}

#poptitile {
	background:#eeeeee;
	margin: auto;
	height: 300px;
	padding: 0 20px;
}

#close {
	padding: 5px;
	background: #5cd31b;
}

#close-button {
	float: right;
	font-size: 30px;
}

#foot {
	padding: 5px 0;
	text-align: center;
	background: #5cd31b;
	color: white;
}

h2 {
	margin: 10px 0;
	color: white;
	padding-left: 15px;
}

h3 {
	margin: 0 0px;
	padding-top: 15px;
}

#multiquestion {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}


.divCss{
	margin-bottom: 10px;
}
.olCss{
	padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
	margin-left: 40px;
}
.inputClass {
	float:left;
	margin-left: -50px;
}
.liRight {

}

#poptopq {
	background:#eeeeee;
	width: 70%;
	z-index: 1;
	margin: 12% auto;
	overflow: auto;
}



#poptitileq {
	background:#eeeeee;
	margin: auto;
	height: 300px;
	padding: 0 20px;
}

#closeq {
	padding: 5px;
	background: #5cd31b;
}

#close-buttonq {
	float: right;
	font-size: 30px;
}

.post{
	width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: paleturquoise;
}



